/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2015, 15:16:40
    Author     : ricardo
*/
.all{
    background-color: #f8f8f8;
}
nav{
    width: 20%;
    float: left;
}

ul.li{
    list-style: none;
}

header{
    height: 170px;
}

#logo{

    width: 65%;
    height: 170px;
    float:left;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f8f8f8;

}
#right{
    float:left;
    width: 35%;
    background-color: #f8f8f8;
}
#curva{
    height: 65px;
    width: 100%;

}
#infos{
    width: 100%;
    padding-right: 25px;
    text-align:right;
    height: 105px;

}

article{
    margin-top: 10px;
    float:right;
    background-color: #fff;
    border-radius: 7px;
    border-style: double;
    border-color: #000;
    border-width: 1px;
    width: 76%;
    margin-left:auto;
    margin-right:auto;
    min-height: 500px;
}


#formulario{
    width: 60%;
    float: left;
    margin-top: 210px;
}
#leitor{
    width: 40%;
    height: 250px;
   
    float: right;
}

footer{
    height: 100px;
    background-color: #0f0f0f;
    width: 100%;
    margin-top: 12px;
}

.leitorQR{
    width:300px;
    height:250px;
    border:1px #000;
    visibility: hidden;
}

#controladores{
text-align: center;
}