<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SCJ</title>
        <link rel="stylesheet" href="../view/css/bootstrap.css">
        <link rel="stylesheet" href="../view/css/style.css">

        <script type="text/javascript" src="../view/javascripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../view/javascripts/html5-qrcode.min.js"></script>
        <script type="text/javascript" src="../view/javascripts/main.js"></script>
        <script type="text/javascript" src="../view/javascripts/scripts.js"></script>


    </head>
    <body>
        <header>
            <div>
                <div id='logo'></div>
                <div id='right'>
                    <div id='curva'></div>
                    <nav id='infos'>Bem vindo {$nome}<br /> <a href="../controller/controllerLogout.php">Sair do Sistema</a></nav>
                </div>
            </div>
        </header>
        <div class="container-fluid all">

            <nav>   
                <ul >
                    <li class='list-group-item list-group-item-warning '>Principal</li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerHome.php">Página Inicial</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerPerfil.php">Edital Perfíl</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerLogout.php.php">Sair</a></li>
                </ul>

                <ul >
                    <li class='list-group-item list-group-item-warning '>Cadastro</li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerJoia.php">Cadastro de Jóia</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerUsuario.php">Cadastro de Usuário</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerVendedor.php">Cadastro de Vendedor</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerEstoque.php">Controle de estoque</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerEstojo.php">Gerar Estojo</a></li>
                </ul>


                <ul >
                    <li class='list-group-item list-group-item-warning '>Configurações</li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerTipo.php">Configurar Tipo</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerCor.php">Configurar Cor</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerLoja.php">Configurar Loja</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerPedra.php">Configurar Pedra</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerRelatorio.php">Emitir Relatórios</a></li>
                </ul>
            </nav>
            <article>
                <section>
                    <div id="controladores">
                        <br/>
                        {if $opc eq 'Editar'}
                        <h1>Editar a Loja {$nomeLoja}</h1>
                        <form action="../controller/manterLoja.php?cod={$cod}&opc={$opc}" method="post">
                            {else}
                            <h1>Registro de nova Loja</h1>
                            <form action="../controller/manterLoja.php?opc={$opc}" method="post">
                                {/if}
                                <table>
                                    <tr>
                                        
                                        <td><label for='nome'>Nome</label></td>
                                        <td><input type='text' id='nome' name='nome' {if $opc eq 'Editar'}value="{$nomeLoja}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        
                                        <td><label for='nome'>Telefone</label></td>
                                        <td><input type='text' id='tel' name='tel' {if $opc eq 'Editar'}value="{$telefone}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        
                                        <td><label for='cep'>Cep</label></td>
                                        <td><input type='text' id='cep' name='cep' {if $opc eq 'Editar'}value="{$cep}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        
                                        <td><label for='estado'>Estado</label></td>
                                        <td><input type='text' id='estado' name='estado' {if $opc eq 'Editar'}value="{$estado}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        
                                        <td><label for='cidade'>Cidade</label></td>
                                        <td><input type='text' id='cidade' name='cidade' {if $opc eq 'Editar'}value="{$cidade}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        
                                        <td><label for='bairro'>Bairro</label></td>
                                        <td><input type='text' id='bairro' name='bairro' {if $opc eq 'Editar'}value="{$bairro}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        
                                        <td><label for='rua'>Rua</label></td>
                                        <td><input type='text' id='rua' name='rua' {if $opc eq 'Editar'}value="{$rua}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        
                                        <td><label for='numero'>Numero</label></td>
                                        <td><input type='number' id='numero' name='numero' {if $opc eq 'Editar'}value="{$numero}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        
                                        <td><label for='cmp'>Complemento</label></td>
                                        <td><input type='textarea' id='cmp' name='cmp' {if $opc eq 'Editar'}value="{$cmp}"{/if}/></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><input type="submit" value="Confirmar Operação"/>
                                    </tr>
                                </table>
                            </form>
                    </div>

                </section>
            </article>
        </div>
        <footer>

        </footer>
    </body>
</html>