<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SCJ</title>
        <link rel="stylesheet" href="../view/css/bootstrap.css">
        <link rel="stylesheet" href="../view/css/style.css">

        <script type="text/javascript" src="../view/javascripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../view/javascripts/html5-qrcode.min.js"></script>
        <script type="text/javascript" src="../view/javascripts/main.js"></script>
        <script type="text/javascript" src="../view/javascripts/scripts.js"></script>
        <script type="text/javascript" src="../view/javascripts/ajax.js"></script>


    </head>
    <body>
        <header>
            <div>
                <div id='logo'></div>
                <div id='right'>
                    <div id='curva'></div>
                    <nav id='infos'>Bem vindo {$usuario->getNome_usuario()}<br /> <a href="../controller/controllerLogout.php">Sair do Sistema</a></nav>
                </div>
            </div>
        </header>
        <div class="container-fluid all">

                      <nav>   
                <ul >
                    <li class='list-group-item list-group-item-warning '>Principal</li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerHome.php">Página Inicial</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerManterUsuario.php?opc=Editar&cod={$usuario->getId_usuario()}">Edital Perfíl</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerLogout.php">Sair</a></li>
                </ul>
                
                <ul >
                    <li class='list-group-item list-group-item-warning '>Cadastro</li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerManterJoia.php">Cadastro de Jóia</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerListaJoias.php">Listar Jóias</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerUsuario.php">Cadastro de Usuário</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerVendedor.php">Cadastro de Vendedor</a></li>
                    <li class="list-group-item-info"><s class="list-group-item">Controle de estoque</s></li>
                    <li class="list-group-item-info"><s class="list-group-item">Controle de Defeito</s></li>
                    <li class="list-group-item-info"><s class="list-group-item">Gerar Estojo</s></li>
                </ul>


                <ul >
                    <li class='list-group-item list-group-item-warning '>Configurações</li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerTipo.php">Configurar Tipo</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerCor.php">Configurar Cor</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerLoja.php">Configurar Loja</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerPedra.php">Configurar Pedra</a></li>
                    <li class="list-group-item-info"><a class="list-group-item"  href="../controller/controllerRelatorio.php">Emitir Relatórios</a></li>
                </ul>
            </nav>
            <article>
                <section>
                    <div id="controladores">
                        <br/>

                        <h1>Registro de nova Joia</h1>
                        <form enctype="multipart/form-data" action="../controller/manterJoia.php?opc=incluir" method="post" >
                            <table class="table">
                                <tr>

                                    <td><label for='pcusto' >Preço de Custo</label></td>
                                    <td><input class="form-control" type='text' id='pcusto' name='pcusto'/></td>
                                </tr>
                                <tr>

                                    <td><label for='pvenda'>Preço de Venda</label></td>
                                    <td><input class="form-control" type='text' id='pvenda' name='pvenda'/></td>
                                </tr>
                                <tr>

                                    <td><label for='consignado'>Consignado</label></td>
                                    <td>
                                        Sim <input class="radio-inline" type='radio' name ='consignado' id='consignado' value="1"> | Não <input class="radio-inline" type='radio' name ='consignado' id='consignado' value="0">
                                    </td>
                                </tr>
                                <tr>

                                    <td><label for='quantidade'>Quantidade</label></td>
                                    <td><input class="form-control" type='text' id='quantidade' name='quantidade' min ="1" max="85" maxlength="2" onblur="apenas85()" required="required" pattern="\d[0-9]+$"/></td>
                                <script>
                                    function apenas85(){
                                        if(document.getElementById('quantidade').value>85 || document.getElementById('quantidade').value<=0 || isNaN(document.getElementById('quantidade').value)){
                                            document.getElementById('quantidade').value="";
                                            alert('Use uma quantidade de 1 a 85 jóias por inserção');
                                            document.getElementById('quantidade').style.backgroundColor="#F5DEB3";
        }                               else{
            document.getElementById('quantidade').style.backgroundColor="#F0FFF0";
        }
                        
        }
                                    
                                </script>
                                </tr>
                                <tr>

                                    <td><label for='notaFiscal'>Nota Fiscal</label></td>
                                    <td><input class="form-control" type='text' id='notaFiscal' name='notaFiscal' /></td>
                                </tr>
                                <tr>

                                    <td><label for='tipo'>Tipo de Produto</label></td>
                                    <td>
                                        <select class="form-control" name="tipo" id="tipo">
                                            {foreach $tipos as $tipo }
                                            <option value="{$tipo->getId_tipo()}">{$tipo->getNome_tipo()}</option>
                                            {/foreach}
                                        </select>
                                    </td>
                                </tr>
                                <tr>

                                    <td><label for='loja'>Fornecedor</label></td>
                                    <td>
                                        <select class="form-control" id="loja" name="loja">
                                            {foreach $lojas as $loja }
                                            <option value="{$loja->getId_loja()}">{$loja->getNome_loja()}</option>
                                            {/foreach}
                                        </select>
                                    </td>
                                </tr>
                                <tr>

                                    <td><label for='numero'>Cor</label></td>
                                    <td>
                                        <select class="form-control" id='cor' name="cor">
                                            {foreach $cores as $cor }
                                            <option value="{$cor->getId_cor()}">{$cor->getNome_cor()}</option>
                                            {/foreach}
                                        </select>
                                    </td>
                                </tr>
                                <tr>

                                    <td><label for='pedra'>Pedra</label></td>
                                    <td>
                                        <select class="form-control" id="pedra" name="pedra">
                                            {foreach $pedras as $pedra }
                                            <option value="{$pedra->getId_pedra()}">{$pedra->getNome_pedra()}</option>
                                            {/foreach}
                                        </select>
                                    </td>
                                </tr>
                                <tr>

                                    <td><label for='tamanho'>Tamanho</label></td>
                                    <td><input class="form-control" type='number' id='tamanho' name='tamanho'/></td>
                                </tr>
                                <tr>

                                    <td><label for='imagem'>Imagem</label></td>
                                    <td><input class="form-control" type='file' name='imagem'/></td>
                                </tr>
                                <tr>

                                    <td><label for='obs'>Observação sobre o produto</label></td>
                                    <td><input class="form-control" type='textarea' id='obs' name='obs'/></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input type="submit" value="Confirmar Operação"/>
                                        <input type="hidden" name="gerar" value="s" />
                                </tr>
                            </table>
                        </form>
                    </div>

                </section>
            </article>
        </div>
        <footer>

        </footer>
    </body>
</html>